<div class="container-fluid footer">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="container-fluid footer-links">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <h7>Company</h7>
                        <a href="{% url 'tripbuddy:about-us' %}">
                            <p>About Us</p>
                        </a>
                        <a href="http://b39-40g3.ntuentrepreneur.org" target="_blank">
                            <p>Corporate Blog</p>
                        </a>
                        <a href="{% url 'tripbuddy:legal' %}">
                            <p>Legal</p>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <h7>Explore</h7>
                        <a href="{% url 'tripbuddy:view-all-trips' %}">
                            <p>Our Trips</p>
                        </a>
                        <a href="{% url 'tripbuddy:view-all-hosts' %}">
                            <p>Our Hosts</p>
                        </a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.tripbuddy.sg" target="_blank">
                            <p>Invite Friends</p>
                        </a>
                        <a href="{% url 'tripbuddy:feedback' %}">
                            <p>Feedback</p>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <h7>Hosting</h7>
                        <a href="{% url 'tripbuddy:why-host' %}">
                            <p>Why Host?</p>
                        </a>
                        <a href="{% url 'tripbuddy:testimonials' %}">
                            <p>Testimonials</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1">
                            <a href="https://www.facebook.com/tripbuddy.sg/" target="_blank">
                                <button class="btn btn-info icon-button facebook"><span class="fa fa-facebook fa-1x"></span></button>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <a href="https://twitter.com/tripbuddysg" target="_blank">
                                <button class="btn btn-info icon-button twitter"><span class="fa fa-twitter fa-1x"></span></button>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <a href="https://www.instagram.com/tripbuddy.sg/" target="_blank">
                                <button class="btn btn-info icon-button instagram"><span class="fa fa-instagram fa-1x"></span></button>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <a href="https://www.youtube.com/channel/UC7BftEQGswS7Oe8pH30ZOeQ" target="_blank">
                                <button class="btn btn-info icon-button youtube"><span class="fa fa-youtube-play fa-1x"></span></button>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <a href="mailto:contact@tripbuddy.sg">
                                <button class="btn btn-info icon-button email"><span class="fa fa-envelope fa-1x"></span></button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p>TripBuddy.sg &copy; 2016. All rights reserved.</p>
</div>